# Folders
models/
lightning_logs/

# Sensitive data
.env

# macOS system files
.DS_Store

# Thumbnails
._*

# Files that might appear on external disks
.Trashes

# VSCode files
.vscode/
*.code-workspace
venv/
.idea/

# Build output
*.app
*.ipa
*.dmg

# Project specific
.ply
.pcd

# python and jupyter notebook files
__pycache__/
.ipynb_checkpoints/

# lock files
poetry.lock